### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [267]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [268]:
#Get the total players count

Player_Count_df=len(purchase_data_df["SN"].value_counts())
#Display players in DF
Players_summary = pd.DataFrame({"Total Players": [Player_Count_df]})
Players_summary

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [269]:
#Get the totals for unique items, average purchase price, total number of purchases, total revenue
Number_of_unique_items = len(purchase_data_df["Item ID"].unique())
Average_Purchase_Price = purchase_data_df["Price"].mean()
Total_number_of_purchases = len(purchase_data_df["Purchase ID"].unique())
Total_revenue = purchase_data_df["Price"].sum()
#Summary DF to hold the above results
Totals_Summary_df = pd.DataFrame({"Number of Unique Items":[Number_of_unique_items], "Average Price":[Average_Purchase_Price],
                                 "Number of Purchases":[Total_number_of_purchases],"Total Revenue":[Total_revenue]})
Totals_Summary_df.style.format({"Average Price":"${:,.2f}","Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [270]:
#Get totals for genders
gender_counts_df = purchase_data_df["Gender"].value_counts()
#Calculate the percentage for Gender
gender_percent = (purchase_data_df["Gender"].value_counts()/(purchase_data_df["SN"]).count())
#Covert to DF
Total_gender_df = pd.DataFrame({"Total Count" :gender_counts_df,"Percentage of Players": gender_percent})
#Format the % to 2 decimal places
Total_gender_df.style.format({"Percentage of Players": "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [271]:
#Group by Gender
gender_totals_df = purchase_data_df.groupby(["Gender"])
#Get the list of unique users
User_names = gender_totals_df["SN"].nunique()
#Total Purchase number per gender
gender_purchase_count_df = gender_totals_df["Gender"].count()
#Average price per gender
Average_price_df = gender_totals_df["Price"].mean()
#Total price per gender
Total_purchase_df = gender_totals_df["Price"].sum()
#Average total purchase per person
Avg_Total_Purchase = Total_purchase_df/User_names
#Create DF with the above results
Summary_df = pd.DataFrame ({"Purchase Count": gender_purchase_count_df, "Average Price":Average_price_df, "Total": Total_purchase_df,
                           "Avg Total Purchase per Person": Avg_Total_Purchase})
#Format to include 2 decimal places and correct currency format
Summary_df.style.format({"Average Price": "${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}","Total":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [272]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44]
# Create labels for these bins
age_labels =["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]
# Slice the data and place it into bins
pd.cut(purchase_data_df["Age"], bins, labels=age_labels)
# Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins, labels=age_labels)
# Create a GroupBy object based upon "Age Ranges"
Age_group_df = purchase_data_df.groupby("Age Ranges")
#Count Total SN's by Age group
Count_group_df = Age_group_df["SN"].nunique()
#Calculate the total percentage by age
Percent_by_age = Count_group_df/Player_Count_df *100
#Get the total Purchase ID by age group
Purchase_count_df = Age_group_df["Purchase ID"].count()
#Get the mean Price by Age by Group
Average_purchase_price_df = Age_group_df["Price"].mean()
#Get the total price by age group
Total_purchase_value_df = Age_group_df["Price"].sum()
#Get the average total purchase per person
Average_per_person_df = Total_purchase_value_df/Count_group_df
#put the above in Data Frame
Summary_age_df = pd.DataFrame({"Percentage of Players": Percent_by_age,"Total Count":Count_group_df,"Purchase Count":Purchase_count_df,"Average Purchase Price":Average_purchase_price_df,"Total Purchase Value":
                              Total_purchase_value_df,"Avg Total Purchase per Person":Average_per_person_df
                              })
#Format percentage, currency, 2 decimal places
Summary_age_df.style.format({"Percentage of Players":"{:,.2f}%","Average Purchase Price":"${:,.2f}","Total Purchase Value":
                            "${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [273]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44]
#Create labels for these bins
age_labels =["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]
# Slice the data and place it into bins
pd.cut(purchase_data_df["Age"], bins, labels=age_labels)
# Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins, labels=age_labels)
# Create a GroupBy object based upon "Age Ranges"
Age_group_df = purchase_data_df.groupby("Age Ranges")
#Count Total Purchase ID's by Age group
Purchase_counts_df = Age_group_df["Purchase ID"].count()
#Calculate the mean price by age group
Average_purchase_prices_df = Age_group_df["Price"].mean()
#Calculate Total Purchase Values by age group
Total_purchase_values_df = Age_group_df["Price"].sum()
#Calculate total average purchase per person
Averages_per_person_df = Total_purchase_values_df/Count_group_df
#Create DataFrame for the above 
Purchasing_analysis_df =pd.DataFrame({"Purchase Count":Purchase_counts_df,"Average Purchase Price":Average_purchase_prices_df,
                                     "Total Purchase Value":Total_purchase_values_df,"Avg Total Purchase per Person":Averages_per_person_df})
#Format the currency and 2 decimal places
Purchasing_analysis_df.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [274]:
#Create a group by SN
Top_spenders_df = purchase_data_df.groupby(["SN"])
#Calculate total count of price by SN
Top_counts_df = Top_spenders_df["Price"].count()
#Calculate the mean price per SN
Top_purchase_prices_df = Top_spenders_df["Price"].mean()
#Calculate the total price per SN
Top_purchase_values_df = Top_spenders_df["Price"].sum()
#Create a DataFrame to hold the above results
Top_spenders_summary_df= pd.DataFrame({"Purchase Count":Top_counts_df,"Average Purchase Price":Top_purchase_prices_df,
                                      "Total Purchase Value":Top_purchase_values_df})
#Sort Total Purchase Value by descending order
Top_spenders_summary_df = Top_spenders_summary_df.sort_values("Total Purchase Value",ascending=False).head()
#Format currency and two decimal places
Top_spenders_summary_df.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [275]:
#retrieve Item ID, Item Name and Item Price Columns
retrieve_df= purchase_data_df[["Item ID","Item Name","Price"]]
#Create a group by Item ID and Item Name
Most_popular_df = purchase_data_df.groupby(["Item ID","Item Name"])
#Get the total count for each item
Most_popular_counts_df = Most_popular_df["Price"].count()
#Calculate the average price by the item
Most_popular_average_df = Most_popular_df["Price"].mean()
#Get the total value for each item
Most_popular_total_df = Most_popular_df["Price"].sum()
#Create a DataFrame for the above results
Most_popular_summary_df = pd.DataFrame({"Purchase Count":Most_popular_counts_df,"Item Price":Most_popular_average_df,
                                       "Total Purchase Value":Most_popular_total_df})
#Sort the purchase count by descending order
Most_popular_summary_df=Most_popular_summary_df.sort_values("Purchase Count", ascending=False).head()
#Format currency and two decimal places
Most_popular_summary_df.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [276]:
#re-display the DataFrame from above
Most_popular_summary_df = pd.DataFrame({"Purchase Count":Most_popular_counts_df,"Item Price":Most_popular_average_df,
                                       "Total Purchase Value":Most_popular_total_df})
#Sort by the Total Purchase Value in descending order
Most_popular_summary_df=Most_popular_summary_df.sort_values("Total Purchase Value", ascending=False).head()
#Format the currency and two decimal places
Most_popular_summary_df.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})